<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=workerID%>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <style>
        .flexEm{
            display: flex;
            gap: 3rem;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="worker-image">
            <img src="https://www.mazaindia.com/wallpapers/tamil-actress-samantha-hd-wallpapers-in-saree-samantha-ruth-prabhu-in-saree-stills15.jpg"
                alt="loading...">
        </div>
        <div class="worker-contents">
            <div class="flexEm">
                <p class="worker-details-field"><span class="boldit">workerID</span>: <%=workerID%>
                </p>
                <p class="worker-details-field"><span class="boldit">Name</span>: <%=workerName%>
                </p>
            </div>
            <p class="worker-details-field"><span class="boldit">Email</span>: <%=workerEmail%>
            </p>
            <p class="worker-details-field"><span class="boldit">Joined Since: </span>
                <%=workerJoined%>
            </p>
            <div class="flexEm">
                <p class="worker-details-field"><span class="boldit">Verification Status: </span><b id="statusWorker"><%=currentStatus%></b></p>
            <div class="worker-details-field"><span class="boldit">Salary/Month: </span>Rs. 9,000</div>
            </div>
        </div>
    </div>

    <div class="offersSections">
        <h2>Joining offers: </h2>
        <div class="offers-list">
            <ul>
                <li class="details-holder">
                    <div class="addressClient">
                        <a href="/addressofClient" class="offerLinks">Address of client1</a>
                    </div>
                    <div class="choice">
                        <a href="/offerAccept" class="offer accept">Accept</a>
                        <a href="/offerViewOffer" class="offer viewOffer">View Offer</a>
                        <a href="/offerReject" class="offer reject">Reject</a>
                    </div>
                </li>
                <li class="details-holder">
                    <div class="addressClient">
                        <a href="/addressofClient" class="offerLinks">Address of client1</a>
                    </div>
                    <div class="choice">
                        <a href="/offerAccept" class="offer accept">Accept</a>
                        <a href="/offerViewOffer" class="offer viewOffer">View Offer</a>
                        <a href="/offerReject" class="offer reject">Reject</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        let statusWorker = document.getElementById('statusWorker');
        if(statusWorker.innerHTML == "Not verified yet!"){
            statusWorker.style.color = 'red';
        }else{
            statusWorker.style.color = 'rgb(106, 224, 110)';
        }
    </script>
</body>

</html>